body{
    background: #1B1B28;
}

.whats-banner{
    min-width: 1300px;
    height: 400px;
    margin: 0px auto;
    background: url("../../images/img-w-bg-1.jpg") no-repeat center center;
}
.whats-banner h1{
    padding-top:100px;
    padding-bottom:30px;
    font-size: 36px;
    text-align: center;
    background-image:-webkit-linear-gradient(bottom,#D4DEEF,#B7C7E4,#6E7F9D);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}
.whats-banner-body{

}
.whats-banner-body p{
    font-size: 14px;
    color: #7385A2;
    text-align: left;
}

.whats-body{
    width: 100%;
    height: 800px;
    background: url("../../images/img-w-bg-2.jpg") no-repeat fixed;
    background-size: cover;
}
.whats-body-container{
    width: 1300px;
    height: 800px;
    margin: 0px auto;
    overflow: hidden;
}
.whats-body-c-l{
    width: 260px;
    height: 620px;
    margin: 100px auto;
    float: left;
}
.whats-body-c-l ul li a{
    cursor: pointer;
    text-decoration: none;
    height: 40px;
}
.whats-body-c-l ul li{
    margin: 50px auto;
    height: 40px;

}

.whats-a-click{
    font-size: 18px;
    color: #FFFFFF;
    margin-top:10px;
}
.whats-a-unclick{
    font-size: 18px;
    color: #99999f;
}

.icon-w-nav1-c{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../images/img-w-nav1-c.png") no-repeat center center;
    position: relative;
    background-size: 100%;
    margin-right:20px;
    margin-bottom: -12px;
}
.icon-w-nav1-u{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../images/img-w-nav1-u.png") no-repeat center center;
    position: relative;
    background-size: 100%;
    margin-right:20px;
    margin-bottom: -12px;
}
.icon-w-nav2-c{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../images/img-w-nav2-c.png") no-repeat center center;
    position: relative;
    background-size: 100%;
    margin-right:20px;
    margin-bottom: -12px;
}
.icon-w-nav2-u{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../images/img-w-nav2-u.png") no-repeat center center;
    position: relative;
    background-size: 100%;
    margin-right:20px;
    margin-bottom: -12px;
}
.icon-w-nav3-c{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../images/img-w-nav3-c.png") no-repeat center center;
    position: relative;
    background-size: 100%;
    margin-right:20px;
    margin-bottom: -12px;
}
.icon-w-nav3-u{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../images/img-w-nav3-u.png") no-repeat center center;
    position: relative;
    background-size: 100%;
    margin-right:20px;
    margin-bottom: -12px;
}
.icon-w-nav4-c{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../images/img-w-nav4-c.png") no-repeat center center;
    position: relative;
    background-size: 100%;
    margin-right:20px;
    margin-bottom: -12px;
}
.icon-w-nav4-u{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../images/img-w-nav4-u.png") no-repeat center center;
    position: relative;
    background-size: 100%;
    margin-right:20px;
    margin-bottom: -12px;
}
.icon-w-nav5-c{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../images/img-w-nav5-c.png") no-repeat center center;
    position: relative;
    background-size: 100%;
    margin-right:20px;
    margin-bottom: -12px;
}
.icon-w-nav5-u{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url("../../images/img-w-nav5-u.png") no-repeat center center;
    position: relative;
    background-size: 100%;
    margin-right:20px;
    margin-bottom: -12px;
}

.whats-body-c-r{
    width: 1040px;
    height: 620px;
    margin: 100px auto;
    float: right;
    position:relative;
}
.whats-b-r-inner{
    width: 1016px;
    height: 600px;
    opacity: 0.1;
    background: #FFFFFF;
    margin-top: 20px;
    margin-left:20px;
    position: absolute;
}
.whats-b-r-middle{
    width: 1016px;
    height: 600px;
    opacity: 0.2;
    background: #FFFFFF;
    margin-top: 10px;
    margin-left:10px;
    position: absolute;
}
.whats-b-r-outer{
    width: 1016px;
    height: 600px;
    background: #FFFFFF;
    position: absolute;
    /*padding: 50px;*/
    /*overflow-y:scroll;*/
    display:block;
    /*word-break: break-all;*/
    /*word-wrap: break-word;*/
    /*width: calc(100% + 18px);*/
}
.whats-b-r-outer-p{
    width: calc(100% + 18px);
    height: 500px;
    overflow-y:scroll;
    margin: 50px;
    padding-right: 100px;
}

p {
    font-size: 14px;
    color: #7385A2;
    letter-spacing: 0;
    line-height: 28px;
    font-weight:normal;
}

.p-indent {
    text-indent: 1cm
}

.p-title{
    font-size: 16px;
    color: #7385A2;
    font-weight: normal;
    text-indent: 0cm;
    margin-bottom:12px;
}

.body-left h1{
    font-size: 20px;
    color: #1B1B28;
    font-weight: bold;
    margin-bottom: 25px;
}

.body-left{
    float:left;
    width: 730px;
}

.body-right{
    float:right;
}

.body-left td{
    height:62px;
    text-align:center;
    font-size: 14px;
    color: #2E4162;
    font-weight:bold;
    background: #F8F8F8;
}


/**
source-body
 */
.src-main {
    width: 100%;
    /*height: 1300px;*/
    padding-top: 50px;
    background: #EEEEEE;
}

.src-m-b {
    width: 1300px;
    height: 80%;
    margin: 10px auto;
}

.src-m-h {
    width: 1300px;
    height: 50px;
    margin: 40px auto 0px auto;
}

div.src-m-h h1 {
    font-size: 36px;
    color: #000000;
    text-align: left;
    font-weight: bold;
}

.tabs-underline {
    width: 100%;
    box-sizing: border-box;
    font: bold 18px sans-serif;
    margin: 0px auto 100px auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* The content */
.tabs-underline .tabs-content-placeholder {
    overflow: hidden;
    font-weight: normal;
    /*margin-top: 10px;*/
}

.tabs-underline .tabs-content-placeholder div.tab-content-active {
    display: block;
}

.lineBorder {
    height: 2px;
    overflow: hidden;
    border-bottom: 1px solid #D8D8D8;
    background: #D8D8D8;
    margin-top:20px;
}


/** body info **/
.src-info{
    width: 100%;
    height: 71px;
    margin-top: 30px;
}

.src-info-l h1{
    font-size: 18px;
    color: #2E4162;
    text-align: left;
    font-weight: normal;;
}

.src-info-l p{
    font-size: 14px;
    color: #7385A2;
    text-align: left;
    padding-top: 14px;
    font-weight: normal;
}

.src-info-l{
    width: 50%;
    height: 69px;
    float: left;
}

.src-info-r{
    width: 40%;
    height: 69px;
    float:right;
}

#input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -10;
}

/** dialog **/
#dialog {
    background: #F8F8F8;
    /*height: 316px;*/
    left: 40%;
    margin: -200px 0 0 -100px;
    position: fixed !important;
    position: absolute;
    top:50%;
    width: 600px;
    z-index: 1;
    display: none;
}
div#dialog .dialog-header {
    width: 600px;
    height: 50px;
    background: #2E4162;
}
div#dialog .dialog-header p, a {
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
}
div#dialog .dialog-header .dialog-header-title{
    width: 560px;
    height: 50px;
    padding: 13px 0px 13px 40px;
    float: left;
}
div#dialog .dialog-header .dialog-header-title .dialog-header-title-p{
    margin: auto;
    text-align: center;
    font-size: 18px;
}
div#dialog .dialog-header .dialog-header-close{
    width: 30px;
    height: 50px;
    padding: 17px 0px 17px 0px;
    float: right;
}
div#dialog .dialog-body {
    width: 540px;
    /*height: 120px;*/
    margin: 50px 30px;
}
div#dialog .dialog-body td{
    font-size: 14px;
    color: #2E4162;
}
div#dialog .dialog-body .dialog-td-l{
    text-align: left;
}
div#dialog .dialog-body .dialog-td-r{
    text-align: right;
}
div#dialog .dialog-bottom{
    height: 50px;
    width: 540px;
    margin: 10px 30px;
}
div#dialog .dialog-bottom .dialog-bottom-left{
    width: 210px;
    margin: 0 auto;
}

div#dialog .dialog-button{
    background-color: #2E4162;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 210px;
    margin-bottom: 35px;
}



.whats-button {
    background-color: #2E4162;
    border: none;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    float:right;
}
.whats-button:hover {
    background-color: #45597C;
    border: none;
    color: #FFFFFF;
    opacity: 1;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
}

.whats-button-white {
    background-color: #FFFFFF;
    border: none;
    color: #2E4162;
    opacity: 1;
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    border:1px solid #2E4162;
    float:right;
    margin: 0px 5px;
}
.whats-button-white:hover {
    background-color: #E6E6E6;
    border: none;
    color: #2E4162;
    opacity: 1;
    padding: 9px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    border:1px solid #2E4162;
}
